* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}

nav > img {
  width: 200px;
  animation: spotify 5s infinite;
}

nav ul.menu-container {
  font-size: 18px;
  list-style-type: none;
  width: 27%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul.menu-container > li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

nav ul.menu-container > li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

@keyframes spotify {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.75);
  }
}

section.landing {
  background-image: url("../images/landing.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

section.landing > h1 {
  font-size: 70px;
}

section.landing > p {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

h2.whats {
  margin: 50px;
  font-size: 30px;
  border-bottom: 4px solid #00b172;
}

div.white {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.three {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
  width: 80vw;
}

div.items > img {
  width: 8vw;
}

div.items {
  color: #00b172;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

section.green {
  padding-top: 50px;
  padding-left: 100px;
  margin: 30px;
  background-color: #00b172;
  color: #fff;
  width: 85vw;
  height: 75vh;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

span.kanye {
  color: #fff;
  font-size: 35px;
  border-bottom: 3px solid #fff;
}

div.letras {
  font-size: 20px;
}
